.whatsapp {
  --base: #128c7e;
  --hover: #25d366;
}

// Header 
@mixin show-from($delay) {
  animation: show-from .5s (.125 + .0625s * $delay) both;
}
#body-home #header {
  #logo-title         { @include show-from(0) }
  #logo-subtitle      { @include show-from(1); }
  #logo-dot-1         { @include show-from(2); }
  #logo-dot-2         { @include show-from(3); }
  #logo-dot-3         { @include show-from(4); }
  #logo-dot-4         { @include show-from(5); }
  #logo-dot-5         { @include show-from(6); }
  .md blockquote      { @include show-from(7); }
  .md .buttons        { @include show-from(8); }
}

#equipo {
  .image__inner {
    --mask-image: linear-gradient(#000 85%, transparent);
    -webkit-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
  }
  .box__md {
    font-size: .9em;
    margin-block: auto 0;
  }
  .boxes .box__subtitle {
    font-size: 1em;
  }
}

#contacto .contact__schedule:has(+ [data-h="dGVsOiszNDk2ODg2MDIwNQ=="]) {
  display: none;
  @media (min-width: $viewport-lg) {
    display: flex;
    visibility: hidden;
  }
}