@font-face {
  font-family: 'JosefinSans';
  src: url('/fonts/josefinsans-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'JosefinSans';
  src: url('/fonts/josefinsans-italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'JosefinSans';
  src: url('/fonts/josefinsans-semibold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'JosefinSans';
  src: url('/fonts/josefinsans-semibold-italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Laila';
  src: url('/fonts/laila-bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
