@use 'css/_variables' as variables;

.whatsapp {
  --base: #128c7e;
  --hover: #25d366;
}

// Hero 
@mixin show-from($delay) {
  animation: show-from .5s (.125 + .0625s * $delay) both;
}
#body-home #hero {
  #logo-title         { @include show-from(0) }
  #logo-sub      { @include show-from(1); }
  #logo-dot-1         { @include show-from(2); }
  #logo-dot-2         { @include show-from(3); }
  #logo-dot-3         { @include show-from(4); }
  #logo-dot-4         { @include show-from(5); }
  #logo-dot-5         { @include show-from(6); }
  .md blockquote      { @include show-from(7); }
  .md .btns        { @include show-from(8); }
}

#equipo {
  .img__in {
    --mask-img: linear-gradient(#000 85%, transparent);
    -webkit-mask-image: var(--mask-img);
    mask-image: var(--mask-img);
  }
  .box__md {
    font-size: .9em;
    margin-block: auto 0;
  }
  .boxes .box__sub {
    font-size: 1em;
  }
}

#contacto .link__schedule:has(+ [data-h="dGVsOiszNDk2ODg2MDIwNQ=="]) {
  display: none;
  @media (min-width: variables.$viewport-lg) {
    display: flex;
    visibility: hidden;
  }
}
